@font-face {
  font-family: Zt Glora Pro Variable;
  src: url("https://haydnjonesdesign.github.io/gtb/fonts/ZT-Glora-Pro-Variable.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

#header.info {
  display: none;
}

body {
font-size: 1rem;
font-family: Zt Glora Pro Variable, Arial, sans-serif;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select, .wufoo li .wufoo-dropdown span,
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    border-radius: 10px;
    margin: 6px;
    padding: 8px;
    background: none;
    border: 1px solid #33484b !important;
    color: #1b2c2e !important;
}

.wufoo textarea.textarea {
  /* width: 80%; */
  display:  block;
}
